@import '~variables.scss';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 50px;
  height: 100px;
  background-color: $pink;

  div .nav-icon {
    min-width: 48px;
    min-height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  i {
    font-size: 36px;
    color: transparentize($color: $black, $amount: .15);

    &:hover {
      cursor: pointer;
      color: $black;
    }

  }

  .nav-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;

    .nav-item {
      margin-right: 20px;
      color: $white;

      a {
        font-family: $fftwo;
        background-color: transparentize($color: $black, $amount: .15);
        padding: 1em;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 5px;
        transition: all .3s;

        &:hover {
          color: $green;
          background-color: $black;
        }
      }
    }
  }
}

.flex-container {
  display: flex;
  align-items: center;
}
